*, ::after, ::before
{
  margin: 0;
  padding: 0;
}

body
{
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: hsl(0, 0%, 100%);
}

h1
{
  height: 12.5%;
  text-align: center;
  font-size: 3.5rem;
  background-color: hsl(0, 0%, 5%);
}

main
{
  height: 80%;
  background-color: hsl(0, 0%, 15%);
}

main ul
{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(0, 0%, 20%);
  list-style: none;
}

main ul li
{
  height: 90%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsl(0, 0%, 40%);
  border-radius: 1rem;
  box-shadow: .5rem 0 .25rem hsl(0, 0%, 5%);
}

main ul li img,
main ul li section
{
  box-shadow: .2rem .2rem hsl(0, 0%, 5%);
}

main ul li img
{
  height: 30%;
  width: 90%;
  border-radius: .5rem;
  background-color: hsl(0, 0%, 90%);
}

main ul li h2
{
  color: hsl(0, 0%, 10%);
}

main ul li section
{
  height: 55%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(0, 0%, 15%);
  border-radius: .5rem;
}

main ul li section span.info
{
  padding: 0 .5rem;
  font-size: 1.1rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.25rem;
  background-color: hsl(0, 0%, 10%);
}

main ul li section span.info:first-of-type
{
  border-radius: .5rem .5rem 0 0;
}

main ul li section span.info:last-of-type
{
  border-radius: 0 0 .5rem .5rem;
}


footer
{
  height: 7.5%;
  background-color: hsl(0, 0%, 5%);
}